<h1>Agregar una tarea</h1>

<%= simple_form_for(Task.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
